{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_username">Username</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_username" placeholder="username" name="user[username]" type="text">
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="email">Email</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="email" placeholder="email" name="user[email]" required type="text">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="password" name="user[plainPassword][first]" required>
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="password" name="user[plainPassword][second]" required>
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('game_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
